* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.main-container-box {
    width: 100%;
}

.header-section {
    width: 100%;
    margin: auto;
    background-color: #0f0f0f;
}

@media (max-width: 575px) {
    .header-section {
        width: 100%;
    }
}

.header_one {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}


@media (min-width: 576px) and (max-width: 1080px) {
    .header-section {
        width: 100%;
    }

    .header_one {
        width: 100%;
    }
}

.navbar-left-icon {
    width: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-icon img {
    width: 100%;
}

.menu-baar {
    border: solid gray 1px;
    width: 20px;
    margin-bottom: 4px;
}



@media (min-width: 576px) and (max-width: 1080px) {
    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-icon img {
        width: 100%;
    }
}


.youtubelogo-box {
    display: flex;
    width: 122.97px;
}

@media (max-width: 575px) {
    .header_one {
        width: 100%;
        padding: 0px 12px;
    }
}

@media (max-width: 575px) {
    .menu-baar {
        width: 9px;
        margin-bottom: 1px;
    }

}

@media (max-width: 575px) {
    .menu-icon {
        width: 13px;
        margin-right: 5px;
    }

    .menu-icon img {
        height: 24px;
        margin-right: 0px;
    }
}

@media (max-width: 575px) {
    .youtubelogo-box {
        width: 60px;
    }

    .youtubelogo {
        width: 70%;
    }

    .youtubelogo img {
        width: 100%;

    }
}

@media (max-width: 575px) {
    .inbox {
        font-size: 4px !important;
        margin-left: 2px !important;
    }
}


.inbox {
    color: white;
    font-size: 8px;
    margin-left: 5px;
}


/* ////search-baar///// */

.search-bar-container {
    display: flex;
    flex: 0 1 732px;
    align-items: center;
    justify-content: center;
    width: 732px;
}

.search-bar-row {
    display: flex;
    align-items: center;
    width: 640px;
    border-radius: 18px;
    margin: 0px 0px 0px 38px;
}

.search-barrow-input {
    border: 1px solid #282828;
    width: 536.02px;
    height: 40px;
    padding: 0px 4px 0px 16px;
    font-size: 16px;
    margin: 0px 0px 0px 30px;
    border-radius: 18px 0 0 18px;
    background-color: #0f0f0f;
}

.search-button {
    width: 64px;
    height: 40px;
    border: none;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #282828;
    border-radius: 0 18px 18px 0;
}

.search-button img {
    width: 23.99px;
}

.micro-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #282828;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.micro-button img {
    width: 23.99px;
    height: 22px;
}

@media (max-width: 575px) {
    .search-bar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-bar-row {
        width: 100%;
        margin: 0px;
    }

    .search-barrow-input {
        margin: 0px;
        width: 100%;
        font-size: 8px;
        height: 28px;
    }

    .search-button {
        width: 35px;
        height: 28px;
    }

    .search-button img {
        width: 10px;
    }

    .micro-button img {
        height: 8px;
        width: 8px;
    }

    .micro-button {
        height: 17px;
        width:17px;
        margin: 0px 10px 0px 10px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .navbar-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
    }

    .search-bar-container {
        flex: 0 1 732px;
        min-width: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-bar-row {
        width: 100%;
        margin: 0px;
        margin: 0 0 0 40px;
        padding: 0 4px;
    }

    .search-barrow-input {
        margin: 0px;
        width: 100%;
        font-size: 15px;
        margin-left: 32px;
    }

    .micro-button {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right-col {
    width: 97px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    background-color: #282828;
    border-radius: 18px 18px;
}

.touch-feedback1 {
    color: white;
    font-size: 18px;
    font-size: 31px;
    width: 30px;
}

.touch-feedback2 {
    color: white;
    font-weight: bold;
    font-size: 14px;
}


.arrow-icon {
    display: none;
}

.bell-icon {
    border-radius: 50px;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon {
    border-radius: 50px;
    padding: 5px;
    width: 60px;
    height: 40px;
    padding: 1px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon img,
.bell-icon img {
    width: 25px;
    height: 25px;
}

@media (max-width: 575px) {

    .navbar-right-col {
        display: none;
    }

    .arrow-icon {
        display: block;
    }

    .arrow-icon img {
        width: 10px;
        height: 10px;
        margin-top: 2px;
    }

    .logo-icon img,
    .bell-icon img {
        height: 20px;
        padding: 5px;
    }

    .logo-icon img {
        height: 23px;
    }

    .logo-icon,
    .bell-icon {
        width: 27px;
        height:auto;
        padding: 5px;
    }
}


/* ///second box/// */

.main-container {
    width: 100%;
    margin: auto;
}

.content-wrapper {
    display: flex;
    margin: auto;
}

@media (min-width: 576px) and (max-width: 1080px) {
    .arrow-icon {
        display: none;
    }

    .main-container {
        width: 100%;
        display: flex;
    }

    .content-wrapper {
        width: 100%;
        display: flex;
    }
}

/* ////category-left/////// */

.category-left {
    width: 240px;
    padding: 12px;
    background-color: #0f0f0f;
}

@media (max-width: 575px) {
    .category-left {
        width: 46px;
        padding: 6px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .category-left {
        width: 80px;
        padding: 6px;
    }
}

.sidebar-section {
    width: 216px;
}

@media (max-width: 575px) {
    .sidebar-section {
        width: 37px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .sidebar-section {
        width: 56px;
    }
}

.section-tittle1 {
    width: 203px;
}

@media (max-width: 575px) {
    .section-tittle1 {
        width: 37px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .section-tittle1 {
        width: 60px;
    }
}

.section-tittle-col1333 {
    display: none;
}

.section-tittle-col1 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 40px;
    width: 204px;
    padding: 0px 12px;
}

.sidebar-item-you-section,
.sidebar-icon,
.sidebar-icon img {
    display: none;
}

@media (max-width: 575px) {
    .sidebar-item-you-section {
        width: 35px;
        flex-direction: column;
        display: block;
    }

    .sidebar-icon {
        width: 26px;
        display: flex;
        justify-content: center;
    }


    .sidebar-icon img {
        width: 10px;
        height: 10px;
        display: block;
    }
}

@media (min-width: 576px) and (max-width:1080px) {
    .sidebar-item-you-section {
        width: 48px;
        height: 65px;
        border: solid 1px;
        flex-direction: column;
        padding: 16px 0px 14px;
        display: block;
    }

    .sidebar-icon {
        width: 50px;
        display: flex;
        justify-content: center;
    }


    .sidebar-icon img {
        width: 20px;
        height: 18px;
        display: block;
    }

}


.homebox {
    background-color: #282828;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 204px;
    padding: 4px 12px;
}

.homeimages-box1 {
    width: 48px;
    background-color: #282828;
    border-radius: 10px;
}

.homeimages-box1 img {
    width: 24px;
    height: 24px;
    border-radius: 10px;
    background-color: #282828;
}

.hometittlebox1 {
    width: 125px;
    padding: 8px 0px;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    background-color: #282828;
}

.homebox2 {
    border-radius: 10px;
    display: none;
    width: 190px;
    height: 33px;
    margin-bottom: 10px;
    align-items: center;
}

.images-box2 {
    width: 60px;
}

.images-box2 img {
    width: 24px;
    height: 24px;
}

.hometittlebox2 {
    width: 132px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 10px;
}

@media (max-width: 575px) {
    .homebox2 {
        border-radius: 10px;
        display: flex;
        width: 28px;
        height:20px;
        flex-direction: column;

    }

    .images-box2 {
        width: 28px;
        display: flex;
        justify-content: center;
    }

    .images-box2 img {
        width: 10px;
        height: 10px;
    }

    .hometittlebox2 {
        width: 30px;
        height: 8px;
        margin-top: 5px;
        text-align: center;
        color: white;
        font-size: 6px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .homebox2 {
        border-radius: 10px;
        display: flex;
        width: 56px;
        height: 70px;
        flex-direction: column;
        padding: 14px 0px 14px;
        margin: 0px;

    }

    .images-box2 {
        width: 37px;
        display: flex;
        justify-content: center;
    }

    .images-box2 img {
        width: 24px;
        height: 24px;
    }

    .hometittlebox2 {
        width: 50px;
        height: 20px;
        text-align: center;
        margin-top: 5px;
        color: white;
        font-size: 10px;
    }
}


@media (max-width: 575px) {
    .homebox {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .homebox {
        display: none;
    }

}

@media (max-width: 575px) {
    .section-tittle-col1 {
        width: 35px;
        height:20px;
        flex-direction: column;
        padding: 0px;
        margin:12px 0px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .section-tittle-col1 {
        flex-direction: column;
        width: 55px;
        height: 75px;
        padding: 16px 0px 14px;
    }
}

.images-box1 {
    width: 48px;
    display: flex;
}

@media (max-width: 575px) {

    .images-box1 {
        width: 20px;
    }
}


.images-box1 img {
    width: 24px;
    height: 24px;
}

@media (max-width: 575px) {
    .images-box1 img {
        width: 10px;
        height: 10px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .images-box1 {
        width: 45px;
        display: flex;
        justify-content: center;
    }

}

.tittlebox1 {
    width: 132px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}


@media (max-width: 575px) {
    .tittlebox1 {
        width: 26px;
        height:8px;
        font-size: 6px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .tittlebox1 {
        margin-top: 5px;
        width: 50px;
        text-align: center;
        font-size: 10px;
    }

}


.tittlebox11 {
    width: 132px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}


@media (max-width: 575px) {
    .tittlebox11{
        width: 26px;
        height:8px;
        font-size: 6px;
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .tittlebox11{
        margin-top: 5px;
        width: 50px;
        text-align: center;
        font-size: 10px;
    }

}

.Subscriptions-tittlebox1 {
    width: 132px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}


@media (max-width: 575px) {
    .Subscriptions-tittlebox1 {
        width: 38px;
        font-size: 6px;
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .Subscriptions-tittlebox1 {
        margin-top: 5px;
        width: 58px;
        text-align: center;
        font-size: 10px;

    }

}

.underline {
    border: solid gray 1px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.underline1 {
    border: solid gray 1px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.section-tittle-col222 {
    display: flex;
    width: 100%;
    height: 40px;
}

.arrow-image-box {
    width: 20px;
    display: flex;
    padding: 5px;
}

@media (max-width: 575px) {
    .arrow-image-box {
        margin-left: 0px;
        padding: 0px;
        width:13px;
    }

    .arrow-image-box img {
        width: 12px;
        height: 8px !important;
        margin-top: 8px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .arrow-image-box {
        margin-left: 0px;
        padding: 5px;
    }
}

.arrow-image-box img {
    width: 15px;
    height: 12px;
    margin-top: 8px;
}

.tittle-box122 {
    font-size: 16px;
    font-weight: bold;
    width: auto;
    color: white;
}


/* /////THIRD SECTION/// */
.Subscriptions-box {
    width: 204px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    padding: 0px 12px;
}

.Subscriptions {
    width: 35px;
    height: 20px;
    color: white;
    font-size: 16px;
}

.youtube-right-arrow {
    width: 25px;
    height: 20px;
}

.youtube-right-arrow img {
    width: 15px;
    height: 15px;

}

.section-tittle3 {
    width: 100%;
}

@media (max-width: 575px) {

    .section-tittle3,
    .section-tittle4,
    .underline1,
    .section-tittle-col2 {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .section-tittle3,
    .section-tittle4,
    .underline1 {
        display: none;
    }
}

.main-img-tittle-box {
    width: 100%;
    display: flex;
}

.section-tittle-col3 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 204px;
    height: 40px;
    padding: 0px 12px;

}

.images-box3 {
    width: 48px;
}

.images-box3 img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.tittlebox3 {
    width: 108px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

.subscribe-icon {
    height: 25px;
    width: 25px;
}

.subscribe-icon img {
    width: 100%;
}

/* ////forth box/// */
.section-tittle-col4 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 204px;
    height: 40px;
    padding: 0px 12px;

}

.images-box4 {
    width: 48px;
}

.images-box4 img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.tittlebox4 {
    width: 132px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

.underline {
    border: solid gray 1px;
    margin-bottom: 24px;
}


/* /// category right///// */

.category-right {
    width: 100%;
    height: auto;
    padding: 0px 24px;
    background-color: #0f0f0f;

}

@media (max-width: 575px) {
    .category-right {
        width: 100%;
        padding: 0px 12px 24px 12px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .category-right {
        width: 100%;
        padding: 0px 24px 24px 24px;
    }
}

.category-grid-row {
    margin: 12px 0px;
    display: flex;
    gap: 12px;
    width: 100%;
    height: 32px;
}

@media (max-width: 575px) {
    .category-grid-row {
        height: 22px;
        margin: 0px;
        gap:5px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

}

.category-item-all {
    width: 40px;
    padding: 0px 12px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}


@media (max-width: 575px) {
    .category-item-all {
        font-size: 5px;
        width:auto;
        padding:0px 6px;
    }

}

.category-item-col {
    padding: 0px 12px;
    background-color: #282828;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

@media (max-width: 575px) {
    .category-item-col {
        padding: 0px 12px;
        display: none;
        font-size: 14px;
    }
}

.category-item-col1 {
    padding: 0px 12px;
    background-color: #282828;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 575px) {
    .category-item-col1 {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .category-item-col1 {
        display: none;
    }

    .category-item-col {
        padding: 0px 12px;
        font-size: 14px;
    }
}


.category-item-col2 {
    padding: 0px 12px;
    background-color: #282828;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 575px) {
    .category-item-col2 {
        font-size: 5px;
        padding: 0px 6px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .category-item-col2 {
        display: none;
    }
}


/* ///image.row 1\///// */
.image-container-row1 {
    display: flex;
    gap: 13px;
    padding: 24px 0px 52px 0px;
}


.img-row-first,
.img-row-second,
.img-row-second1 {
    width: 25%;
}

.image-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    aspect-ratio: 375 / 211;

}

@media (max-width: 575px) {
    .image-container-row1 {
        gap: 10px;
        padding: 12px 0px 12px 0px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-container-row1 {
        gap: 13px;
        padding: 12px 0px 12px 0px;
    }
}


@media (max-width: 575px),
(min-width: 576px) and (max-width: 1080px) {
    .img-row-second,
    .img-row-second1 {
        display: none;
    }
}

@media (max-width: 575px) {
    .image-item img {
        aspect-ratio: 375 / 211;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-item img {
        aspect-ratio: 375 / 211;
    }
}

.img-row-second3 {
    display: none;
}


/* ////second image-row and breakpoint//// */

.img-container_two {
    display: flex;
    gap: 13px;
    padding-bottom: 24px;
}

.img-row-third1,
.img-row-third2,
.img-row-third3,
.img-row-forth1,
.img-row-forth2,
.img-row-forth3 {
    width: 16.66%;
}

.img-item-second-row img {

    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 242/429;
}


.img-row-forth4 {
    display: none;
}

@media (max-width: 575px) {

    .img-container_two {
        width: 100%;
        display: flex;
        gap: 10px;
        margin-top: 0px;
        padding:0px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .img-container_two {
        display: flex;
        gap: 13px;
    }
}


@media (min-width: 576px) and (max-width: 1080px) {

    .img-row-forth1,
    .img-row-forth2,
    .img-row-forth3,
    .img-row-forth4 {
        display: none;
    }
}

@media (max-width: 575px) {
    .img-item-second-row img {
        border-radius: 10px;
        object-fit: cover;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .img-item-second-row img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}


@media (max-width: 575px) {

    .img-row-forth1,
    .img-row-forth2,
    .img-row-forth3 {
        display: none;
    }
}

@media (max-width: 575px) {

    .img-row-third1,
    .img-row-third2,
    .img-row-third3 {
        width: 33.33%;
    }
}

@media (max-width: 575px) {
    .img-row-first {
        width: 50%;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .img-row-third1,
    .img-row-third2,
    .img-row-third3 {
        width: 33.33%;
    }

    .img-row-first {
        width: 50%;
    }

}


/* ////second image row content//// */

.image-column {
    width: 100%;
}

.image-list-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 13px;
}

@media (max-width: 575px) {
    .image-list-card {
        padding-top: 0px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-list-card {
        width: 100%;
    }
}

.image-list-card1 {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

@media (max-width: 575px) {
    .image-list-card1 {
        margin-top: 5px;
    }
}


.image-information {
    display: flex;
    width: 100%;
    padding-left: 20px;
    flex-direction: column;
}

@media (max-width: 575px) {
    .image-information {
        width: 100%;
        padding: 5px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-information {
        width: 100%;
    }
}


.image-information1 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media (max-width: 575px) {
    .image-information1 {
        width: 100%;
        padding: 5px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-information1 {
        width: 100%;
    }
}


.image-thumbnail img {
    border-radius: 50%;
    width: 30px;
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .image-thumbnail img {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-bottom: 22px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .image-thumbnail img {
        margin-bottom: 27px;
    }
}


.image-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

@media (max-width: 575px) {
    .image-title {
        font-size: 7px;
        font-weight: bold;
        color: white;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-title {
        font-size: 16px;
        font-weight: bold;
        color: white;
    }
}

.chainnel-name {
    font-size: 14px;
    padding: 5px 0px;
    color: gray;
}

@media (max-width: 575px) {
    .chainnel-name {
        font-size: 7px;
        padding: 5px 0px;
        font-weight: bold;
        color: gray;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .chainnel-name {
        font-size: 12px;
        padding: 5px 0px;
        font-weight: bold;
        color: gray;
    }
}


.views-status {
    color: gray;
    font-size: 14px;
}

@media (max-width: 575px) {
    .views-status {
        color: gray;
        font-size: 5px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .views-status {
        color: gray;
        font-size: 12px;
    }
}

.options-menubox1 {
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .options-menubox1 {
        margin-bottom: 22px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .options-menubox1 {
        margin-bottom: 40px;
    }
}

.options-menubox1 img {
    width: 25px;
}

@media (max-width: 575px) {
    .options-menubox1 img {
        width: 13px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .options-menubox1 img {
        width: 25px;
    }
}


.options-menubox {
    margin-bottom: 30px;
    position: relative;
}

@media (min-width: 576px) and (max-width: 1080px) {
    .options-menubox {
        margin-bottom: 72px;
    }
}

.options-menubox img {
    width: 25px;
}

@media (max-width: 575px) {
    .options-menubox img {
        width: 15px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .options-menubox img {
        width: 25px;
    }
}

/* ////shortsss/// */
.icon-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 16px 0px;
}

@media (max-width: 575px) {
    .icon-div {
        width: 100%;
        margin: 0px 0px 8px 0px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .icon-div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
}

.icon-short {
    width: auto;
    display: flex;
    align-items: center;

}

@media (max-width: 575px) {
    .icon-short {
        width: auto;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .icon-short {
        width: auto;
        height: 25px;
        display: flex;
    }
}

.icon-short img {
    width: 28px;
    height: 25px;
    margin: 0px 6px 0px 8px;
}

@media (max-width: 575px) {
    .icon-short img {
        width: 13px;
        height: 11px;
        margin: 0px 6px 0px 8px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .icon-short img {
        width: 28px;
        margin: 0px 6px 0px 8px;
    }
}

.text-box {
    width: auto;
    margin: 8px 0px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

@media (max-width: 575px) {
    .text-box {
        font-size: 8px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .text-box {
        font-size: 20px;
    }
}

.pointbox{
    width: 40px;
    height: 40px;
    align-items: center;
}

.pointbox img {
    width: 34px;
    height: 40px;
    align-items: center;
}

@media (max-width: 575px) {
    .pointbox img {
        width: 20px;
        height: 18px;
        margin-top: 10px;
    }

    .pointbox{
        width: 20px;
        height: 40px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .pointbox img {
        width: 30px;
        height: 30px;
    }
}


.footer-container-box {
    width: 100%;
    background-color: #181818;
    padding: 24px 0px;
}

.footer-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    background-color: #181818;
}

@media (max-width: 575px) {
    .footer-box {
        width: 100%;
        gap: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .footer-box {
        width: 100%;
        gap: 10px;
        margin-bottom: 10px;
    }
}

.footer,
.footer1 {
    font-size: 13px;
    font-weight: 500;
    color: white;
    background-color: #181818;
    color: gray;
}

@media (max-width: 575px) {

    .footer,
    .footer1 {
        font-size: 6px;
        font-weight: 500;
        color: gray;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .footer,
    .footer1 {
        font-size: 14px;
        font-weight: 500;
        color: white;
    }
}

.footer-bottom {
    background-color: #181818;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: white;
}

@media (max-width: 575px) {
    .footer-bottom {
        font-size: 10px;
        color: white;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .footer-bottom {
        font-size: 15px;
        color: white;
    }
}

.footer-container {
    background-color: #181818;
    padding: 20px 0;
    text-align: center;
}

.image-container-row {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.image-row-box {
    display: none;
    width: 280px;
}

.image-row-box-one {
    display: flex;
    gap: 14px;
    justify-content: space-between;
}

.image-row-box-two {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
}

.image-block img {
    width: 100%;
    object-fit: cover;
}

.image-details {
    width: 100%;
}

.image-card {
    display: flex;
    align-items: center;
    width: 365px;
    margin-top: 12px;
}

.thumbnail-box img {
    border-radius: 50%;
    width: 30px;
    margin-bottom: 40px;
}

.info-section {
    display: flex;
    width: 210px;
    margin-left: 11px;
    flex-direction: column;
}

/* Font Styling */
.video-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.channel-info,
.views-count {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

.menu-options {
    margin-bottom: 45px;
}

.menu-options img {
    width: 30px;
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-container-row {
        gap: 15px;
        display: block;
        margin-top: 20px;
    }

    .image-row-box {
        display: block;
        width: 100%;
    }

    .image-block img {
        aspect-ratio: 16 / 9;
        border-radius: 10px;
        gap: 15px;
    }

    .image-card,
    .info-section {
        width: 100%;
    }

    .menu-options {
        margin-bottom: 20px;
    }

    .menu-options img {
        width: 30px;
    }

    .thumbnail-box img {
        width: 30px;
        margin-bottom: 24px;
    }

    .image-row-box-two {
        display: none;
    }
}

@media (max-width: 575px) {
    .image-container-row {
        margin-top: 20px;
        display: block;
        gap: 10px;
    }

    .image-row-box {
        display: block;
        width: 100%;
    }

    .image-block img {
        aspect-ratio: 16 / 9;
        border-radius: 10px;
        gap: 10px;
    }

    .image-card,
    .info-section {
        width: 100%;
    }

    .thumbnail-box img {
        width: 20px;
        margin-bottom: 48px;
    }

    .menu-options {
        margin-bottom: 42px;
    }

    .menu-options img {
        margin-bottom: 0px;
        width: 21px;
    }

    .video-title {
        font-size: 14px;
    }

    .channel-info {
        font-size: 13px;
        padding: 5px 0px;
    }

    .views-count {
        font-size: 12px;
    }
}

.img-row-second2 {
    width: 100%;
}

@media (max-width: 575px) {

    .img-row-second2 {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .img-row-second2 {
        display: none;
    }
}


@media (min-width: 1081px) and (max-width: 1152px) {
    .img-row-second1 {
        display: block;
    }

    .arrow-icon {
        display: none;
    }


    .img-row-second1,
    .img-row-second,
    .img-row-first {
        width: 33.33%;
    }

    .img-row-forth1,
    .img-row-third1,
    .img-row-third2,
    .img-row-third3 {
        width: 25%;
    }

    .img-row-second1,
    .img-row-second2,
    .img-row-second3 {
        display: none;
    }

    .img-row-forth1 {
        display: block;
    }

    .img-row-forth2,
    .img-row-forth3,
    .img-row-forth4,
    .category-item-col,
    .category-item-col1 {
        display: none;
    }

    .section-tittle3,
    .section-tittle4,
    .underline1,
    .section-tittle-col2 {
        display: none;
    }

    .homebox {
        display: none;
    }

    .homebox2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 69px;
        height: 63px;
        margin-top: 10px;
        text-align: center;
    }

    .images-box2 {
        width: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-tittle-col1 {
        display: flex;
        width: 60px;
        height: 75px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px;
    }

    .category-left {
        width: 80px;
        padding: 0px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-tittle1 {
        width: 68px;
        text-align: center;
    }

    .hometittlebox2 {
        width: 60px;
        text-align: center;
    }

    .tittlebox1 {
        width: 40px;
        text-align: center;
        font-size: 10px;
    }

    .images-box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .images-box1 img {
        width: 24px;
        height: 24px;
        margin: 0 auto;
    }

    .sidebar-section {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .image-container {
        gap: 15px;
    }

    .Subscriptions-tittlebox1 {
        font-size: 10px;
    }
}

@media (min-width: 1153px) and (max-width: 1311px) {
    .img-row-second2 {
        display: none;
    }

    .arrow-icon {
        display: none;
    }

    .image-container {
        gap: 15px;
    }

    .img-row-second1,
    .img-row-second,
    .img-row-first {
        width: 33.33%;
    }

    .img-row-forth1,
    .img-row-third1,
    .img-row-third2,
    .img-row-third3 {
        width: 25%;
    }
    
    .img-row-second1,
    .img-row-second3,
    .img-row-forth3,
    .img-row-forth4,
    .category-item-col,
    .category-item-col1 {
        display: none;
    }


    .img-row-forth2 {
        display: none;
    }

    .section-tittle3,
    .section-tittle4,
    .underline1,
    .section-tittle-col2 {
        display: none;
    }

    .homebox {
        display: none;
    }

    .homebox2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 69px;
        height: 63px;
        margin-top: 10px;
        text-align: center;
    }

    .images-box2 {
        width: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-tittle-col1 {
        display: flex;
        width: 70px;
        height: 75px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px;
    }

    .category-left {
        width: 80px;
        padding: 0px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-tittle1 {
        width: 68px;
        text-align: center;
    }

    .hometittlebox2 {
        width: 60px;
        text-align: center;
    }

    .tittlebox1 {
        width: 40px;
        text-align: center;
        font-size: 10px;
    }

    .images-box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .images-box1 img {
        width: 24px;
        height: 24px;
        margin: 0 auto;
    }

    .sidebar-section {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .Subscriptions-tittlebox1 {
        width: 60px;
        height: 20px;
        margin-top: 5px;
        color: white;
        font-size: 10px;
    }

    .image-container {
        gap: 18px;
    }

}

@media (min-width: 1312px) and (max-width: 1574px) {

    .arrow-icon {
        display: none;
    }

    .section-tittle3,
    .section-tittle4,
    .underline1 {
        display: block;
    }

    .category-item-col1 {
        display: none;
    }

    .img-row-second3 {
        display: none;
    }

    .img-row-forth3 {
        display: block;
    }

    .img-row-forth4 {
        display: none;
    }

    .img-row-forth3 {
        display: none;
    }

    .img-row-third1,
    .img-row-third2,
    .img-row-third3,
    .img-row-forth1,
    .img-row-forth2 {
        width: 20%;
    }
}

@media (min-width: 1900px) {
    .arrow-icon {
        display: none;
    }

    .img-row-forth4 {
        display: block;
    }

    .img-row-second3 {
        display: block;
    }

    .img-row-forth3 {
        display: block;
    }

    .img-row-first,
    .img-row-first,
    .img-row-second,
    .img-row-second1,
    .img-row-second3 {
        width: 20%;
    }

    .img-row-third1,
    .img-row-third2,
    .img-row-third3,
    .img-row-forth1,
    .img-row-forth2,
    .img-row-forth3,
    .img-row-forth4 {
        width: 14.28%;
    }


}