* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container-box {
    width: 100%;
}

.header-section {
    width: 100%;
    margin: auto;
    background-color: black;
}

@media (max-width: 575px) {
    .header-section {
        width: 100%;
    }
}

.header_one {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

@media (max-width: 575px) {
    .header_one {
        width: 100%;
        padding: 0px 12px;

    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .header-section {
        width: 100%;
    }

    .header_one {
        width: 100%;
    }
}

.navbar-left-icon {
    width: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    width: 40px;
    display: flex;
    padding: 11px 8px 11px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-icon img {
    width: 100%;
}

.menu-baar {
    border: solid white 1px;
    width: 20px;
    margin-bottom: 4px;
}

@media (min-width: 576px) and (max-width: 1080px) {
    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    .menu-icon img {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .menu-icon {
        width: 40px;
        margin-bottom: 5px;
    }

    .menu-icon img {
        width: 24px;
        height: 24px;
        margin-right: 0px;
    }
}

.youtubelogo-box {
    display: flex;
    padding: 15px 8px 10px 16px;
    justify-content: center;
    /* align-items: center; */
    width: 122.97px;
}

@media (max-width: 575px) {
    .youtubelogo-box {
        padding: 15px 14px 16px 16px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .youtubelogo-box {
        padding: 15px 14px 10px 16px;

    }
}



.youtubelogo img {
    width: 93px;
    height: 27px;
}

/* @media (max-width: 575px) {
    .youtubelogo img {
        width: 25px;
    }
} */

.textbox {
    font-size: 18px;
    color: white;
}

@media (max-width: 575px) {
    .textbox {
        font-size: 16px;
        /* display:none; */

    }
}

.inbox {
    color: white;
    font-size: 10px;
    margin-left: 5px;
}


/* ////search-baar///// */

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 732px;
}

.search-bar-row {
    display: flex;
    align-items: center;
    width: 640px;
    border-radius: 18px;
    margin: 0px 0px 0px 38px;
}

.search-barrow-input {
    border: 1px solid lightgray;
    width: 536.02px;
    height: 40px;
    padding: 0px 4px 0px 16px;
    font-size: 16px;
    margin: 0px 0px 0px 30px;
    border-radius: 18px 0 0 18px;
    background-color: white;
}

.search-button {
    width: 64px;
    height: 40px;
    border: none;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 0 18px 18px 0;
}

.search-button img {
    width: 23.99px;
}

.micro-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.micro-button img {
    width: 23.99px;
    height: 24px;
}

@media (max-width: 575px) {
    .search-bar-container {
        width: 100%;
    }

    .search-bar-row {
        width: 100%;
        margin: 0px;
    }

    .search-barrow-input {
        width: 100%;
        margin: 0px;
        font-size: 14px;
    }

    .search-button {
        width: 40px;
    }

    .search-button img {
        width: 18px;
    }

    .micro-button img {
        width: 24px;
        height: 22px;
    }

    .micro-button {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .search-bar-container {
        width: 100%;
    }

    .search-bar-row {
        width: 100%;
        margin: 0px;
    }

    .search-barrow-input {
        margin: 0px;
        width: 100%;
        font-size: 15px;
    }

    .search-button {
        width: 50px;
    }

    .micro-button {
        width: 40px;
        height: 40px;
        margin-left: 0px;
    }
}

.navbar-right {
    display: flex;
    width: 213px;
    justify-content: space-between;
}

.arrow-icon,
.logo-icon,
.bell-icon {
    border-radius: 50px;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon img,
.logo-icon img,
.bell-icon img {
    width: 25px;
    height: 25px;
}

@media (max-width: 575px) {

    .arrow-icon img,
    .logo-icon img,
    .bell-icon img {
        width: 24px;
        height: 22px;
    }

    .arrow-icon,
    .logo-icon,
    .bell-icon {
        width: 27px;
        padding: 5px;
    }
}


/* ///second box/// */

.main-container {
    width: 100%;
    margin: auto;
}

.content-wrapper {
    display: flex;
    margin: auto;
}

@media (min-width: 576px) and (max-width: 1080px) {
    .main-container {
        width: 100%;
        display: flex;
    }

    .content-wrapper {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 575px) {

    .main-container {
        width: 100%;
        display: flex;
    }

    .content-wrapper {
        width: 100%;
        display: flex;
    }
}


.category-left {
    width: 240px;
    padding: 12px;
    background-color: black;
}

@media (max-width: 575px) {
    .category-left {
        width: 60px;
        padding: 6px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .category-left {
        width: 98px;
        padding: 6px;
    }
}

.sidebar-section {
    width: 216px;
}

@media (max-width: 575px) {
    .sidebar-section {
        width: 50px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .sidebar-section {
        width: 90px;
    }
}

.section-tittle1 {
    width: 203px;
}

@media (max-width: 575px) {
    .section-tittle1 {
        width: 45px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .section-tittle1 {
        width: 85px;
    }
}

.section-tittle-col1333 {
    display: none;
}

.section-tittle-col1 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 40px;
    width: 204px;
    padding: 0px 12px;
}

.sidebar-item-you-section,
.sidebar-icon,
.sidebar-icon img {
    display: none;
}

@media (max-width: 575px) {
    .sidebar-item-you-section {
        width: 48px;
        height: 65px;
        border: solid 1px;
        flex-direction: column;
        padding: 16px 0px 14px;
        display: block;
    }

    .sidebar-icon {
        width: 35px;
        display: flex;
        justify-content: center;
    }


    .sidebar-icon img {
        width: 20px;
        height: 18px;
        display: block;
    }
}

@media (min-width: 576px) and (max-width:1080px) {
    .sidebar-item-you-section {
        width: 48px;
        height: 65px;
        border: solid 1px;
        flex-direction: column;
        padding: 16px 0px 14px;
        display: block;
    }

    .sidebar-icon {
        width: 50px;
        display: flex;
        justify-content: center;
    }


    .sidebar-icon img {
        width: 20px;
        height: 18px;
        display: block;
    }

}


.homebox {
    background-color: gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 204px;
    padding: 4px 12px;
}

.homeimages-box1 {
    width: 48px;
    background-color: gray;
    border-radius: 10px;
    /* padding-left: 5px; */
}

.homeimages-box1 img {
    width: 24px;
    height: 24px;
    border-radius: 10px;
    background-color: gray;
}

.hometittlebox1 {
    width: 125px;
    padding: 8px 0px;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    background-color: gray;
}

.homebox2 {
    border-radius: 10px;
    display: none;
    width: 190px;
    height: 33px;
    margin-bottom: 10px;
    align-items: center;
}

.images-box2 {
    width: 60px;
}

.images-box2 img {
    width: 24px;
    height: 24px;
}

.hometittlebox2 {
    width: 132px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

@media (max-width: 575px) {
    .homebox2 {
        border-radius: 10px;
        display: flex;
        width: 40px;
        flex-direction: column;

    }

    .images-box2 {
        width: 40px;
        display: flex;
        justify-content: center;
    }

    .images-box2 img {
        width: 22px;
        height: 20px;
    }

    .hometittlebox2 {
        width: 41px;
        height: 20px;
        margin-top: 5px;
        text-align: center;
        color: white;
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .homebox2 {
        border-radius: 10px;
        display: flex;
        width: 56px;
        flex-direction: column;
    }

    .images-box2 {
        width: 37px;
        display: flex;
        justify-content: center;
    }

    .images-box2 img {
        width: 24px;
        height: 24px;
    }

    .hometittlebox2 {
        width: 50px;
        height: 20px;
        text-align: center;
        margin-top: 5px;
        color: white;
        font-size: 14px;
    }
}


@media (max-width: 575px) {
    .homebox {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .homebox {
        display: none;
    }

}

@media (max-width: 575px) {
    .section-tittle-col1 {
        width: 48px;
        height: 65px;
        border: solid 1px;
        flex-direction: column;
        padding: 16px 0px 14px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .section-tittle-col1 {
        flex-direction: column;
        width: 55px;
        height: 75px;
        padding: 16px 0px 14px;
    }
}

.images-box1 {
    width: 48px;
    display: flex;
}

@media (max-width: 575px) {

    .images-box1 {
        width: 30px;
    }
}


.images-box1 img {
    width: 24px;
    height: 24px;
}

@media (max-width: 575px) {
    .images-box1 img {
        width: 20px;
        height: 18px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .images-box1 {
        width: 45px;
        display: flex;
        justify-content: center;
    }

}

.tittlebox1 {
    width: 132px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}


@media (max-width: 575px) {
    .tittlebox1 {
        width: 36px;
        font-size: 10px;
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .tittlebox1 {
        margin-top: 5px;
        width: 50px;
        text-align: center;
    }

}

.Subscriptions-tittlebox1 {
    width: 132px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}


@media (max-width: 575px) {
    .Subscriptions-tittlebox1 {
        width: 60px;
        font-size: 10px;
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .Subscriptions-tittlebox1 {
        margin-top: 5px;
        width: 58px;
        text-align: center;
    }

}

.underline {
    border: solid gray 1px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.underline1 {
    border: solid gray 1px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.section-tittle-col222 {
    display: flex;
    width: 100%;
    height: 40px;
}

.arrow-image-box {
    width: 20px;
    display: flex;
    padding: 5px;
}

@media (max-width: 575px) {
    .arrow-image-box {
        margin-left: 0px;
        padding: 0px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .arrow-image-box {
        margin-left: 0px;
        padding: 5px;
    }
}

.arrow-image-box img {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.tittle-box122 {
    font-size: 16px;
    font-weight: bold;
    width: auto;
    color: white;
}


/* /////THIRD SECTION/// */
.Subscriptions-box {
    width: 204px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    padding: 0px 12px;
}

.Subscriptions {
    width: 35px;
    height: 20px;
    color: white;
    font-size: 16px;
}

.youtube-right-arrow {
    width: 25px;
    height: 20px;
}

.youtube-right-arrow img {
    width: 15px;
    height: 15px;

}

.section-tittle3 {
    width: 100%;
}

@media (max-width: 575px) {

    .section-tittle3,
    .section-tittle4,
    .underline1,
    .section-tittle-col2 {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .section-tittle3,
    .section-tittle4,
    .underline1 {
        display: none;
    }
}

.main-img-tittle-box {
    width: 100%;
    display: flex;
}

.section-tittle-col3 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 204px;
    height: 40px;
    padding: 0px 12px;

}

.images-box3 {
    width: 48px;
}

.images-box3 img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.tittlebox3 {
    width: 108px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

.subscribe-icon {
    height: 25px;
    width: 25px;
}

.subscribe-icon img {
    width: 100%;
}

/* ////forth box/// */
.section-tittle-col4 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 204px;
    height: 40px;
    padding: 0px 12px;

}

.images-box4 {
    width: 48px;
}

.images-box4 img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.tittlebox4 {
    width: 132px;
    height: 20px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

.underline {
    border: solid gray 1px;
    margin-bottom: 24px;
}


/* /// category right///// */

.category-right {
    width: 100%;
    height: auto;
    padding: 0px 24px;
    background-color: black;

}

@media (max-width: 575px) {
    .category-right {
        width: 100%;
        padding: 0px 12px 24px 12px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .category-right {
        width: 100%;
        padding: 0px 16px 24px 16px;
    }
}

.category-grid-row {
    margin: 12px 0px;
    display: flex;
    gap: 15px;
    width: 100%;
    height: 32px;
}

.category-item-all {
    width: 40px;
    padding: 0px 12px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.category-item-col {
    padding: 0px 12px;
    background-color: gray;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

@media (max-width: 575px) {
    .category-item-col {
        padding: 0px 12px;
        display: none;
        font-size: 14px;
    }
}

.category-item-col1 {
    padding: 0px 12px;
    background-color: gray;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 575px) {
    .category-item-col1 {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .category-item-col1 {
        display: none;
    }
}


.category-item-col2 {
    padding: 0px 12px;
    background-color: gray;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 575px) {
    .category-item-col2 {
        /* width: 100%; */
        font-size: 12px;
        padding: 0px 12px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .category-item-col2 {
        display: none;
    }
}



/* ///alll images//// */
.image-container {
    display: flex;
    gap: 15px;
    padding: 24px 0px 0px 0px;
    margin:0px 0px 52px 0px;
}

@media (max-width: 575px) {
    .image-container {
        display: flex;
        gap: 10px;
        padding: 12px 0px 12px 0px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-container {
        display: flex;
        gap: 13px;
        padding: 12px 0px 12px 0px;
    }

}

.img-row-first {
    width: 100%;
}

@media (max-width: 576px) {
    .img-row-first {
        width: 100%;
        gap: 10px;
        justify-content: space-between;
    }
}


@media (min-width: 576px) and (max-width: 1080px) {
    .img-row-first {
        width: 100%;
        gap: 10px;
        justify-content: space-between;
    }
}

.img-row-second1 {
    width: 100%;
}

@media (max-width: 575px) {
    .img-row-second1 {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .img-row-second1 {
        display: none;
    }
}

.image-item {
    width: 100%;
    height: 215px;
}

@media (max-width: 575px) {
    .image-item {
        width: 100%;
        height: 215px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-item {
        width: 100%;
    }
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 575px) {
    .image-item img {
        width: 100%;
    }

}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-item img {
        width: 100%;
    }

}

/* ////second row//// */
.img-container_two {
    display: flex;
    gap: 15px;
}

.img-row-third1,
.img-row-third2,
.img-row-third3 {
    width: 100%;
}

@media (max-width: 575px) {

    .img-row-third1,
    .img-row-third1,
    .img-row-third3 {
        width: 100%;
    }

    .img-container_two {
        width: 100%;
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .img-row-third1,
    .img-row-third2,
    .img-row-third3 {
        gap: 10px;
    }

    .img-container_two {
        display: flex;
        gap: 10px;
    }
}

.img-row-forth1,
.img-row-forth2,
.img-row-forth3,
.img-row-forth4 {
    width: 100%;
}

@media (max-width: 575px) {

    .img-row-forth1,
    .img-row-forth2,
    .img-row-forth3,
    .img-row-forth4 {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .img-row-forth1,
    .img-row-forth2,
    .img-row-forth3,
    .img-row-forth4 {
        display: none;
    }
}

.img-item-second-row {
    width: 100%;
    height: 479px;
}

@media (max-width: 575px) {
    .img-item-second-row {
        height: 275px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .img-item-second-row {
        width: 100%;
        height: 350px;
    }
}

.img-item-second-row img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 575px) {
    .img-item-second-row img {
        width: 100%;
        height: 275px;
        border-radius: 10px;
        object-fit: cover;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .img-item-second-row img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}

.image-column {
    width: 100%;
}

.image-list-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 13px;
}

@media (max-width: 575px) {
    .image-list-card {
        width: 100%;
        margin-top: 10px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-list-card {
        width: 100%;
    }
}

.image-list-card1 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

@media (max-width: 575px) {
    .image-list-card1 {
        width: 100%;
        margin-top: 10px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-list-card1 {
        width: 100%;
    }
}

.image-information {
    display: flex;
    width: 100%;
    padding-left: 20px;
    flex-direction: column;
}

@media (max-width: 575px) {
    .image-information {
        width: 100%;
        padding: 5px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-information {
        width: 100%;
    }
}

.image-thumbnail img {
    border-radius: 50%;
    width: 30px;
    margin-bottom: 30px;
}

.image-thumbnail1 img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .image-thumbnail img {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-bottom: 42px;
    }

    .image-thumbnail1 img {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-thumbnail1 img {
        display: none;
    }

    .image-thumbnail img {
        margin-bottom: 27px;
    }
}


.image-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

@media (max-width: 575px) {
    .image-title {
        font-size: 13px;
        font-weight: bold;
        color: white;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-title {
        font-size: 16px;
        font-weight: bold;
        color: white;
    }
}

.chainnel-name {
    font-size: 14px;
    padding: 5px 0px;
    color: lightgray;
}

@media (max-width: 575px) {
    .chainnel-name {
        font-size: 12px;
        padding: 5px 0px;
        font-weight: bold;
        color: white;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .chainnel-name {
        font-size: 12px;
        padding: 5px 0px;
        font-weight: bold;
        color: white;
    }
}


.views-status {
    color: lightgray;
    font-size: 14px;
}

@media (max-width: 575px) {
    .views-status {
        color: white;
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .views-status {
        color: white;
        font-size: 12px;
    }
}

.options-menubox1 {
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .options-menubox1 {
        margin-bottom: 37px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .options-menubox1 {
        margin-bottom: 20px;
    }
}

.options-menubox1 img {
    width: 25px;
}

@media (max-width: 575px) {
    .options-menubox1 img {
        width: 21px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .options-menubox1 img {
        width: 30px;
    }
}


.options-menubox {
    margin-bottom: 30px;
    position: relative;
}

@media (max-width: 575px) {
    .options-menubox {
        margin-bottom: 60px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .options-menubox {
        margin-bottom: 20px;
    }
}

.options-menubox img {
    width: 25px;
}

@media (max-width: 575px) {
    .options-menubox img {
        width: 21px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .options-menubox img {
        width: 30px;
    }
}

/* ////shortsss/// */
.icon-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 16px 8px;
}

@media (max-width: 575px) {
    .icon-div {
        width: 100%;
        margin: 0px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .icon-div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
}

.icon-short {
    width: auto;
    display: flex;
}

@media (max-width: 575px) {
    .icon-short {
        width: auto;
        display: flex;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .icon-short {
        width: auto;
        height: 25px;
        display: flex;
    }
}

.icon-short img {
    width: 28px;
    height: 25px;
    margin: 11px 6px 5px 0px;

}

@media (max-width: 575px) {
    .icon-short img {
        width: 24px;
        height: 24px;
        margin: 8px 6px 5px 0px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .icon-short img {
        width: 28px;
        margin: 8px 0px 5px 0px;
    }
}

.text-box {
    width: auto;
    margin: 12px 0px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

@media (max-width: 575px) {
    .text-box {
        width: auto;
        margin: 12px 0px;
        font-weight: bold;
        font-size: 16px;
        color: white;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .text-box {
        margin: 12px 0px;
        font-weight: bold;
        font-size: 20px;
        color: white;
    }
}

.pointbox {
    margin: 5px 0px;
    background-color: black;
}

@media (max-width: 575px) {
    .pointbox {
        margin: 5px 0px;
        background-color: black;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .pointbox {
        margin: 5px 0px;
        background-color: black;
    }
}

.pointbox img {
    width: 30px;
    height: 30px;
}

@media (max-width: 575px) {
    .pointbox img {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .pointbox img {
        width: 30px;
        height: 30px;
    }
}

.footer-container-box {
    width: 100%;
    background-color: #181818;
    padding: 24px 0px;
}

.footer-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    background-color: #181818;
}

@media (max-width: 575px) {
    .footer-box {
        width: 100%;
        gap: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .footer-box {
        width: 100%;
        gap: 10px;
        margin-bottom: 10px;
    }
}

.footer,
.footer1 {
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: #181818;
}

@media (max-width: 575px) {

    .footer,
    .footer1 {
        font-size: 10px;
        font-weight: 500;
        color: white;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .footer,
    .footer1 {
        font-size: 15px;
        font-weight: 500;
        color: white;
    }
}

.footer-bottom {
    background-color: #181818;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: white;
}

@media (max-width: 575px) {
    .footer-bottom {
        font-size: 10px;
        color: white;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .footer-bottom {
        font-size: 15px;
        color: white;
    }
}

.footer-container {
    background-color: #181818;
    padding: 20px 0;
    text-align: center;
}

.image-container-row {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.image-row-box {
    display: none;
    width: 280px;
}

.image-row-box-one {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.image-row-box-two {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
}

.image-block img {
    width: 100%;
    object-fit: cover;
}

.image-details {
    width: 100%;
}

.image-card {
    display: flex;
    align-items: center;
    width: 365px;
    margin-top: 12px;
}

.thumbnail-box img {
    border-radius: 50%;
    width: 30px;
    margin-bottom: 40px;
}

.info-section {
    display: flex;
    width: 210px;
    margin-left: 11px;
    flex-direction: column;
}

/* Font Styling */
.video-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.channel-info,
.views-count {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.menu-options {
    margin-bottom: 45px;
}

.menu-options img {
    width: 30px;
}

@media (min-width: 576px) and (max-width: 1080px) {
    .image-container-row {
        gap: 15px;
        display: block;
        margin-top: 20px;
    }

    .image-row-box {
        display: block;
        width: 100%;
    }

    .image-block img {
        height: 250px;
        border-radius: 10px;
    }

    .image-card,
    .info-section {
        width: 100%;
    }

    .menu-options {
        margin-bottom: 20px;
    }

    .menu-options img {
        width: 30px;
    }

    .thumbnail-box img {
        width: 30px;
        margin-bottom: 24px;
    }

    .image-row-box-two {
        display: none;
    }
}

@media (max-width: 575px) {
    .image-container-row {
        margin-top: 20px;
        display: block;
        gap: 10px;
    }

    .image-row-box {
        display: block;
        width: 100%;
    }

    .image-block img {
        height: 250px;
        border-radius: 10px;
    }

    .image-card,
    .info-section {
        width: 100%;
    }

    .thumbnail-box img {
        width: 20px;
        margin-bottom: 48px;
    }

    .menu-options {
        margin-bottom: 42px;
    }

    .menu-options img {
        margin-bottom: 0px;
        width: 21px;
    }

    .video-title {
        font-size: 14px;
    }

    .channel-info {
        font-size: 13px;
        padding: 5px 0px;
    }

    .views-count {
        font-size: 12px;
    }
}

.img-row-second2,
.img-row-second3 {
    width: 100%;
}

@media (max-width: 575px) {

    .img-row-second2,
    .img-row-second3 {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1080px) {

    .img-row-second2,
    .img-row-second3 {
        display: none;
    }
}


@media (min-width: 1081px) and (max-width: 1152px) {
    .img-row-second1 {
        display: block;
    }

    .img-row-second2,
    .img-row-second3 {
        display: none;
    }

    .img-row-forth1 {
        display: block;
    }

    .img-row-forth2,
    .img-row-forth3,
    .img-row-forth4,
    .category-item-col1 {
        display: none;
    }

    .section-tittle3,
    .section-tittle4,
    .underline1,
    .section-tittle-col2 {
        display: none;
    }

    .homebox {
        display: none;
    }

    .homebox2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        width: 69px;
        height: 63px;
        margin-top: 10px;
        text-align: center;
    }

    .images-box2 {
        width: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-tittle-col1 {
        display: flex;
        width: 90px;
        height: 75px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .category-left {
        width: 103px;
        padding: 0px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-tittle1 {
        width: 90px;
        text-align: center;
    }

    .hometittlebox2 {
        width: 60px;
        text-align: center;
    }

    .tittlebox1 {
        width: 40px;
        text-align: center;
    }

    .images-box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .images-box1 img {
        width: 24px;
        height: 24px;
        margin: 0 auto;
    }

    .sidebar-section {
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (min-width: 1153px) and (max-width: 1311px) {
    .img-row-second2 {
        display: none;
    }

    .img-row-second3,
    .img-row-forth3,
    .img-row-forth4,
    .category-item-col1 {
        display: none;
    }

    .img-row-forth2 {
        display: block;
    }

    .section-tittle3,
    .section-tittle4,
    .underline1,
    .section-tittle-col2 {
        display: none;
    }

    .homebox {
        display: none;
    }

    .homebox2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        width: 69px;
        height: 63px;
        margin-top: 10px;
        text-align: center;
    }

    .images-box2 {
        width: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-tittle-col1 {
        display: flex;
        width: 90px;
        height: 75px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .category-left {
        width: 103px;
        padding: 0px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-tittle1 {
        width: 90px;
        text-align: center;
    }

    .hometittlebox2 {
        width: 60px;
        text-align: center;
    }

    .tittlebox1 {
        width: 40px;
        text-align: center;
    }

    .images-box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .images-box1 img {
        width: 24px;
        height: 24px;
        margin: 0 auto;
    }

    .sidebar-section {
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

@media (min-width: 1312px) and (max-width: 1574px) {

    .section-tittle3,
    .section-tittle4,
    .underline1 {
        display: block;
    }

    .img-row-second3 {
        display: none;
    }

    .img-row-forth3 {
        display: block;
    }

    .img-row-forth4 {
        display: none;
    }
}

@media (min-width: 1575px) and (max-width: 1900px) {
    .img-row-forth4 {
        display: block;
    }
}